@import url("https://fonts.googleapis.com/css2?family=Sandoll+Samliphopangche+TTF:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GangwonEduAll:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-gangwoneduall: GangwonEduAll;
  --font-sandoll-samliphopangche-ttf: "Sandoll Samliphopangche TTF";

  /* font sizes */
  --font-size-32xl-2: 51.2px;
  --font-size-27xl: 46px;

  /* Colors */
  --color-black: #000;
  --color-pink-100: #ffc6c6;
  --color-pink-200: rgba(255, 198, 198, 0.58);

  /* Paddings */
  --padding-7xs-1: 5.1px;
  --padding-27xl: 46px;
  --padding-2xs-2: 10.2px;
  --padding-16xl-8: 35.8px;

  /* Border radiuses */
  --br-83xl-3: 102.3px;
}
